*{ margin: 0; padding: 0; box-sizing:border-box;}


Header{text-align:center; font-size: 2rem}


nav{ display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;
    position: sticky;
    top:0; left:0; right:0; bottom:0; background-color:black;
    margin: 2rem auto; }

nav a{ text-decoration: none; color: white; padding: 1rem 1rem;}

article, section, h1, h2{margin-bottom:4rem; margin-left: 2rem; margin-right: 3rem;}



tbody tr, table td, table, table th, table tr {border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;}

table td, table th{padding: 0.5rem 0.5rem 0 0.5rem; }

table th{background-color: lightgray; }

li{padding-bottom: 1rem; margin-left: 1rem;}

#ontwikkeling h2{text-align: center; margin-bottom: 0.5rem; margin-top: 2rem;}


#competentiesprogrammeur, #opdrachtenchronologisch, #logboek{width: 60%; margin: auto; font-family: sans-serif; }

#competentiesprogrammeur li, #opdrachtenchronologisch li{padding-bottom: 1rem; list-style-type: lower-alpha;}


.kernkwadrant{display: flex; justify-content: center; gap:2rem; align-items: center; flex-wrap: wrap;
width: 40%; margin: auto auto 2rem auto; }

.kernkwadrant div{border: black solid 2px; width: 45%; padding-bottom: 1rem; height: auto;}

.kernkwadranten p{margin-bottom: 2rem;}


.factor {margin:auto; text-align: center;}

.factor img{width:50%;}

footer{text-align: center; display: flex; justify-content: flex-end; background-color: black;}
footer a{ font-size: 1rem ; text-decoration: none; color: white; padding: 2rem 1rem; margin: 0.5rem 1rem;}