*{box-sizing:border-box;}


.logboek{width: 60%; margin: auto; font-family:sans-serif; }
tbody tr, table td, table, table th, table tr {border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}
table td, table th{padding: 0.5rem 0.5rem 0 0.5rem; }
li{padding-bottom: 1rem;}
.competentiesprogrammeur li, .opdrachtenchronologisch li{padding-bottom: 1rem; list-style-type: lower-alpha;}
table th{background-color: lightgray; }

.competentiesprogrammeur, .opdrachtenchronologisch{width: 60%; margin: auto; font-family: sans-serif; }
