*{ margin: 0; padding: 0; box-sizing:border-box;}

article, section, h1, h2{margin-bottom:4rem; margin-left: 2rem; margin-right: 3rem;}

.logboek{width: 60%; margin: auto; font-family:sans-serif; }

tbody tr, table td, table, table th, table tr {border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;}

table td, table th{padding: 0.5rem 0.5rem 0 0.5rem; }

li{padding-bottom: 1rem;}

.competentiesprogrammeur li, .opdrachtenchronologisch li{padding-bottom: 1rem; list-style-type: lower-alpha;}

table th{background-color: lightgray; }

.competentiesprogrammeur, .opdrachtenchronologisch{width: 60%; margin: auto; font-family: sans-serif; }

.kernkwadrant{display: flex; justify-content: center; gap:2rem; align-items: center; flex-wrap: wrap;
width: 40%; margin: auto auto 2rem auto; }

.kernkwadrant div{border: black solid 2px; width: 45%; padding-bottom: 1rem; height: auto;}
.kernkwadranten p{margin-bottom: 2rem;}