*{box-sizing:border-box;}


table{width: 60%; margin: auto;}
tbody tr, table td, table, table th, table tr {border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}
table td, table th{padding: 0.5rem 0.5rem 0 0.5rem; }
li{padding-bottom: 1rem;}
table th{background-color: lightgray; }
